[package]
name = "defuse-sandbox"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
defuse-crypto = { workspace = true, features = ["near-api-types"] }
defuse-nep413 = { workspace = true, features = ["near-api"] }
defuse-randomness.workspace = true
defuse-nep245.workspace = true
tokio.workspace = true
rstest.workspace = true

anyhow.workspace = true
futures.workspace = true
impl-tools.workspace = true
near-api.workspace = true
near-openapi-types.workspace = true
near-sandbox.workspace = true
near-sdk = { workspace = true, features = ["unit-testing"] }
thiserror.workspace = true
tracing.workspace = true

near-contract-standards.workspace = true

defuse = {workspace = true, features = ["contract", "arbitrary"], optional = true}
defuse-poa-factory = {workspace = true, features = ["contract"], optional = true}
defuse-escrow-swap = {workspace = true, features = ["default"], optional = true}
defuse-test-utils = { workspace = true, optional = true }
defuse-serde-utils = { workspace = true, optional = true }

[features]
poa = ["dep:defuse-poa-factory"]
defuse = ["dep:defuse", "dep:defuse-test-utils", "dep:defuse-serde-utils"]
escrow = ["dep:defuse-escrow-swap"]