[package]
name = "defuse-sandbox"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# defuse-crypto = { workspace = true }
defuse-crypto = { workspace = true, features = ["near-api-types"] }
defuse-randomness.workspace = true

anyhow.workspace = true
futures.workspace = true
impl-tools.workspace = true
near-api.workspace = true
near-openapi-client = "0.6"
near-sandbox.workspace = true
near-sdk = { workspace = true, features = ["unit-testing"] }
serde_json.workspace = true
thiserror.workspace = true
