[package]
name = "defuse-wallet"
edition.workspace = true
version = "0.1.0"
rust-version.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[lints]
workspace = true

[dependencies]
defuse-borsh-utils.workspace = true
defuse-deadline.workspace = true
defuse-serde-utils.workspace = true

near-sdk = { workspace = true, features = ["deterministic-account-ids"] }
thiserror.workspace = true

defuse-crypto = { workspace = true, default-features = false, optional = true }
defuse-webauthn = { workspace = true, default-features = false, optional = true }

arbitrary = { workspace = true, features = ["derive"], optional = true }

[features]
abi = ["defuse-crypto?/abi", "defuse-deadline/abi", "defuse-webauthn?/abi"]
arbitrary = ["dep:arbitrary", "near-sdk/arbitrary"]
webauthn = ["dep:defuse-webauthn"]

########## Contract variants ##########
# When no features enabled, by default, always reject the signature.
# This can be useful to deploy "1-of-M multisig"/"fan-out" wallet, where
# extensions are pre-defined at the initialization stage (i.e. state_init).
# So only extensions can execute requests via `w_execute_extension()`.
contract = []

# Webauthn (a.k.a passkey) variants:
webauthn-ed25519 = ["webauthn", "defuse-webauthn/ed25519"]
webauthn-p256 = ["webauthn", "defuse-webauthn/p256"]

# Raw ed25519 signature:
ed25519 = ["defuse-crypto/ed25519"]

[dev-dependencies]
defuse-wallet = { workspace = true, features = ["arbitrary"] }
defuse-crypto.workspace = true
defuse-sandbox.workspace = true
defuse-test-utils = { workspace = true, features = ["wallet"] }

arbitrary = { workspace = true, features = ["derive"] }
impl-tools.workspace = true
near-sdk = { workspace = true, features = [
    "deterministic-account-ids",
    "unit-testing",
] }
near-crypto.workspace = true
rstest.workspace = true
tokio = { workspace = true, features = ["macros"] }
