[package]
name = "xtask"
edition.workspace = true
repository.workspace = true
version.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["rlib"]

[dependencies]
cargo-near-build = { workspace = true, features = ["docker"] }
clap.workspace = true
anyhow.workspace = true

[lints]
workspace = true
