[target.'cfg(target_family="wasm")']
rustflags = ["--remap-path-prefix=.=src", "--remap-path-prefix=${HOME}=/"]

[env]
# Used in tests
DEFUSE_USE_OUT_DIR = { value = "res", relative = true }
# Used in build script
DEFUSE_OUT_DIR = { value = "res", relative = true }

[alias]

integration-tests = "test -p defuse-tests --no-default-features --features"
