[target.'cfg(target_family="wasm")']
rustflags = ["--remap-path-prefix=.=src", "--remap-path-prefix=${HOME}=/"]

[alias]
xtask = "run --package xtask --"

build-contract = "run --package xtask -- build"
integration-tests = "cargo test -p defuse-tests --features poa"
