[target.'cfg(target_family="wasm")']
rustflags = ["--remap-path-prefix=.=src", "--remap-path-prefix=${HOME}=/"]

[env]
# Used in tests
DEFUSE_USE_OUT_DIR = { value = "res", relative = true }
# Used in build script
DEFUSE_OUT_DIR = { value = "res", relative = true }

[alias]

integration-tests = "test -p defuse-tests --no-default-features --features"

# ============================================================================
# Build
# ============================================================================

build-non-reproducible = [
    "near",
    "build",
    "non-reproducible-wasm",
    "--locked",
    "--no-embed-abi",
    "--out-dir",
    "res",
]

build-reproducible = [
    "near",
    "build",
    "reproducible-wasm",
    "--out-dir",
    "res",
]

# ============================================================================
# Defuse
# ============================================================================

build-defuse = [
    "build-non-reproducible",
    "--manifest-path",
    "defuse/Cargo.toml",
    "--features",
    "abi,contract,imt",
]

build-defuse-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "defuse/Cargo.toml",
]

# ============================================================================
# Poa Factory
# ============================================================================

build-poa-factory = [
    "build-non-reproducible",
    "--manifest-path",
    "poa-factory/Cargo.toml",
    "--features",
    "contract",
]

build-poa-factory-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "poa-factory/Cargo.toml",
]

# ============================================================================
# Poa Token
# ============================================================================

build-poa-token = [
    "build-non-reproducible",
    "--manifest-path",
    "poa-token/Cargo.toml",
    "--features",
    "contract",
]

build-poa-token-no-registration = [
    "build-non-reproducible",
    "--manifest-path",
    "poa-token/Cargo.toml",
    "--features",
    "contract,no-registration",
]

build-poa-token-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "poa-token/Cargo.toml",
]

build-poa-token-no-registration-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "poa-token/Cargo.toml",
    "--variant",
    "no_registration",
]

# ============================================================================
# Escrow Swap
# ============================================================================

build-escrow-swap = [
    "build-non-reproducible",
    "--manifest-path",
    "escrow-swap/Cargo.toml",
    "--features",
    "abi,contract",
]

build-escrow-swap-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "escrow-swap/Cargo.toml",
]

# ============================================================================
# Test contracts
# ============================================================================

build-global-deployer = [
    "build-non-reproducible",
    "--manifest-path",
    "./global-deployer/Cargo.toml",
    "--features",
    "abi,contract",
]

build-global-deployer-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "./global-deployer/Cargo.toml",
]

# ============================================================================
# Test contracts
# ============================================================================

build-multi-token-receiver-stub = [
    "build-non-reproducible",
    "--manifest-path",
    "./tests/contracts/multi-token-receiver-stub/Cargo.toml",
    "--features",
    "abi",
]

build-multi-token-receiver-stub-reproducible = [
    "build-reproducible",
    "--manifest-path",
    "./tests/contracts/multi-token-receiver-stub/Cargo.toml",
]
