[target.'cfg(target_family="wasm")']
rustflags = ["--remap-path-prefix=.=src", "--remap-path-prefix=${HOME}=/"]

[alias]
xtask = "run --package xtask --"

clippy-fast = "clippy --workspace --exclude defuse-tests"
build-all = "run --package xtask -- build-all"
build-contract = "run --package xtask -- build"
integration-tests = "test -p defuse-tests --no-default-features --features"
